Cython==0.21
h5py==2.4.0
ipykernel==4.3.1
ipython==4.2.0
ipython-genutils==0.1.0
ipywidgets==5.1.2
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
Keras==0.3.2
numexpr==2.4.3
numpy==1.11.0
pandas==0.18.0
scikit-learn==0.15.2
scipy==0.15.1
Theano==0.7.0
tornado==4.3
